<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/">About</a></li>
	        		<li><a href="/placestoeatanddrink/">Places to Eat and Drink</a></li>
	        		<li><a href="/adayout/">A Day Out</a></li>
				<li><a href="/lifeatcambridgeuniversity/">Life at Cambridge University</a></li>
				<li><a href="/lifestyle/">Lifestyle</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:d.w.j@live.co.uk">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
