---
layout: default
---
<div class="sticky-container">
    <ul class="sticky">
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.asliceofcambridge.com{{page.url}}" target="_blank" class = "fa fa-facebook"></a>
        </li>
        <li>
            <a href="http://www.twitter.com/share?url=https://www.asliceofcambridge.com{{page.url}}" target="_blank" class = "fa fa-twitter"></a>
        </li>
        <li>
            <a href="https://www.instagram.com/asliceofcambridge/" target="_blank" class = "fa fa-instagram"></a>
        </li>
    </ul>
</div>

<h1 align = "center" class = "cambridge-blue" id = "post-title">{{ page.title }}</h1>    <!-- Include your post title, byline, date, and other info inside the header here. -->
<p align = "center" class="meta" id = "date">{{ page.date | date_to_string }}</p>
</div>
</div>
<p></p>



<div class="post">
  {{ content }}
</div>
<hr>
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
  {% endif %}
</div>
<hr>
